* {
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.pc {
  display: block !important;
}

.ipad {
  display: none !important;
}

.sp {
  display: none !important;
}

.pc-sp {
  display: block !important;
}

.add-to-cart {
  display: block;
  margin-top: 12px;
  padding: 11px 12px;
  border: 1px solid #354E57;
  color: #2E2E22;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.add-to-cart::before {
  margin-right: 20px;
  content: url('../img/common/img_add_to_cart.png');
}

.add-to-cart:hover {
  background-color: #354E57;
  color: #FFFFFF;
}

/*main section */
.main {
  position: relative;
}

.main .text-blk {
  position: absolute;
  top: 158px;
  left: 169px;
  line-height: 1.1;
}

.main .text-blk h2 {
  margin-bottom: 22px;
  color: var(--color-black);
  font-size: 48px;
  font-weight: 700;
}

.main .text-blk p {
  line-height: 1.5;
  color: var(--color-black);
  font-size: 16px;
  /* padding-top: 1px; */
}

/*banner section */
.banner {
  padding: 43px;
  border: 1px solid #354E57;
  background-color: #FFFFFF;
  color: #354E57;
  text-align: center;
}

.banner h3 {
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 700;
}

/*category section */
.category .links {
  margin: 48px auto 40px;
  padding-left: 50px;
  max-width: 716px;
}

.category .links li {
  float: left;
  margin-right: 69px;
  padding: 17px 51px;
  border: 1px solid #354E57;
  text-align: center;
  cursor: pointer;
  border-radius: 28px;
}

.category .links li:last-child {
  margin-right: 0;
}

.category .links li:hover,
.category .links li.active {
  border: 1px solid #D1B0A8;
  background-color: #D1B0A8;
}

.category .links li:hover a {
  color: #FFFFFF;
}

.category .links li a {
  color: #2E2E22;
  font-size: 18px;

}

/*category left */
.category .left-col {
  float: left;
}

.category .left-col .first-blk {
  padding-top: 23px;
}

.category .left-col ul {
  margin-bottom: 80px;
  padding-left: 10px;
}

.category .left-col ul li {
  position: relative;
  margin: 35px 0;
  padding-left: 16px;
  color: #2E2E22;
  font-size: 14px;
}

.category .left-col li::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #000000;
  content: '';
  border-radius: 50%;
}

/*category right */
.category .right-col {
  float: right;
}

.category .right-col .acne {
  padding-bottom: 49px;
  border-bottom: 1px solid #707070;
}

.category .product-card .img-blk {
  margin-bottom: 11px;
  border: 1px solid #707070;
  background-color: #FFFFFF;
}

.category .product-card .text-blk {
  color: #2E2E22;
}

.category .product-card .text-blk h4 {
  font-size: 14px;
  font-weight: 700;
}

.category .product-card .text-blk p {
  margin: 7px 0;
  font-size: 12px;
}

.category .product-card .text-blk span {
  font-size: 12px;
  font-weight: 500;
}

.acne .first-row {
  margin-bottom: 59px;
}

.acne .first-row .left {
  position: relative;
  float: left;
  margin-right: 20px;
}

.acne .first-row .left .new {
  position: absolute;
  top: 21px;
  left: 21px;
  padding: 8px 11px;
  background-color: #F7F7F7;
  color: #2E2E22;
  font-size: 12px;
}

.acne .first-row .left .img-blk {
  border: 1px solid transparent;

}

.acne .first-row .right {
  float: right;
}

.acne .first-row .right .product-card {
  margin-bottom: 39px;
}

.acne .first-row .right .product-card:last-child {
  margin-bottom: 0;
}

.acne .second-row .product-card {
  float: left;
}

.acne .second-row .product-card {
  margin-right: 20px;
}

.acne .second-row .product-card:last-child {
  margin-right: 0px;
}

.treatment {
  border-bottom: 1px solid #707070;
  max-width: 929px;
}

.treatment .product-list {
  margin: 48px 0 0;
}

.treatment .product-list .product-card {
  float: left;
  margin-right: 20px;
  margin-bottom: 47px;
}

.treatment .product-list .product-card:nth-child(n+4) {
  margin-top: 15px;
}

.treatment .product-list .product-card:nth-child(3n) {
  margin-right: 0;
}


/*common section */
.common-sec {
  margin-top: 48px;
  background-color: #35736A;
}

.common-sec .left-col {
  float: left;
  width: 50%;
  padding: 100px 0 85px;
}

.common-sec .left-col .text-blk {
  padding: 129px 0 129px 169px;
}

.common-sec .left-col .text-blk h3 {
  line-height: 1.3;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
}

.common-sec .left-col .text-blk p {
  line-height: 1.3;
  margin: 34px 0 72px;
  padding-right: 80px;
  color: #EEF2F4;
  font-size: 16px;
  font-weight: 400;
}

.common-sec .left-col .text-blk a {
  padding: 6px 35px;
  border: 1px solid #EEF2F4;
  color: #FFFFFF;
  font-size: 16px;
}

.common-sec .right-col {
  float: right;
  width: 50%;
}

/*suncream section */
.sun-cream {
  padding-top: 54px;
}

.sun-cream h2 {
  margin-bottom: 22px;
  color: #354E57;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.sun-cream span.title {
  display: block;
  margin-bottom: 50px;
  color: #354E57;
  font-size: 16px;
  text-align: center;
}

.sun-cream .product-list {
  margin: 0 auto 41px;
  max-width: 1124px;
}

.sun-cream .product-card {
  float: left;
  width: 22.5%;
  margin-right: 27px;
  margin-bottom: 60px;
  cursor: pointer;
}

.sun-cream .product-card:hover .img-blk {
  border: 1px solid #354E57;
}

.sun-cream .product-card:nth-child(4n) {
  margin-right: 0;
}

.sun-cream .product-card .img-blk {
  border: 1px solid transparent;
}

.sun-cream .product-card:hover .img-blk {
  border: 1px solid #707070;
}

.sun-cream .product-card .text-blk {
  width: 100%;
  margin-top: 19px;
}

.sun-cream .product-card .text-blk p.title {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 700;
  /* margin: 5px 0; */
}

.sun-cream .product-card .text-blk p {
  line-height: 1.2;
  margin: 12px 0;
  color: var(--color-black);
  font-size: 12px;
}

.sun-cream .product-card .text-blk a {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}


/*ipad */
@media screen and (min-width: 768px) and (max-width: 1180px) {

  .pc {
    display: none !important;
  }

  .ipad {
    display: block !important;
  }

  .sp {
    display: none !important;
  }

  .pc-sp {
    display: none !important;
  }

  /*main section */

  .main .text-blk {
    position: absolute;
    top: 16%;
    left: 9%;
    line-height: 1.2;
  }

  .main .text-blk h2 {
    margin-bottom: 2.083vw;
    color: var(--color-black);
    font-size: 6.25vw;
    font-weight: 700;
  }

  .main .text-blk p {
    line-height: 1.5;
    color: var(--color-black);
    font-size: 2.083vw;

  }

  /*banner section */
  .banner {
    padding: 5.599vw;
    border: 0.13vw solid #354E57;
    background-color: #FFFFFF;
    color: #354E57;
    text-align: center;
  }

  .banner h3 {
    margin-bottom: 1.563vw;
    font-size: 3.646vw;
    font-weight: 700;
  }

  /*category section */
  .category .links {
    width: 98%;
    margin: 6.641vw auto 2.865vw;
    padding-left: 3.646vw;
    max-width: 93.229vw;
  }

  .category .links li {
    float: left;
    margin-right: 8.984vw;
    padding: 2.214vw 6.641vw;
    border: 0.13vw solid #354E57;
    text-align: center;
    cursor: pointer;
    border-radius: 3.646vw;
  }

  .category .links li:last-child {
    margin-right: 0;
  }

  .category .links li:hover a,
  .category .links li.active a {
    border: 0.13vw solid #D1B0A8;
    background-color: #D1B0A8;
  }

  .category .links li:hover a {
    color: #FFFFFF;
  }

  .category .links li a {
    color: #2E2E22;
    font-size: 2.344vw;
  }

  /*category left */
  .category .left-col {
    float: none;
    margin: 0 auto;
    max-width: 63.672vw;
  }

  .category .left-col .first-blk {
    display: inline-block;
    margin-right: 11.328vw;
    padding-top: 2.995vw;
  }

  .category .left-col .second-blk {
    display: inline-block;
  }

  .category .left-col ul {
    margin-bottom: 0;
    padding-left: 1.302vw;
  }

  .category .left-col ul li {
    position: relative;
    margin: 4.297vw 0;
    padding-left: 2.083vw;
    color: #2E2E22;
    font-size: 1.823vw;
  }

  .category .left-col li::before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.651vw;
    height: 0.651vw;
    background-color: #000000;
    content: '';
    border-radius: 50%;
  }

  /*category right */
  .category .right-col {
    float: none;
  }

  .category .right-col .acne {
    padding-bottom: 5.078vw;
    border-bottom: 0.13vw solid #707070;
  }

  .category .product-card .img-blk {
    margin-bottom: 1.432vw;
    border: 0.13vw solid #707070;
    background-color: #FFFFFF;
  }

  .category .product-card .text-blk {
    color: #2E2E22;
  }

  .category .product-card .text-blk h4 {
    font-size: 1.823vw;
    font-weight: 700;
  }

  .category .product-card .text-blk p {
    margin: 0.911vw 0;
    font-size: 1.563vw;
  }

  .category .product-card .text-blk span {
    font-size: 1.563vw;
    font-weight: 500;
  }

  .acne {
    margin: 0 auto;
    max-width: 81.641vw;
  }

  .acne .first-row {
    margin-bottom: 0vw;
  }

  .acne .first-row .left {
    float: none;

    margin: 2.083vw auto 5.208vw;
    margin-right: 0vw;

  }

  .acne .first-row .left .img-blk {
    border: 0.13vw solid transparent;
  }

  .acne .first-row .right {
    float: none;
  }

  .acne .first-row .right .product-card {
    float: left;
    margin-right: 5.078vw;
    max-width: 38.281vw;
  }

  .acne .first-row .right .product-card:last-child {
    margin-right: 0;
  }

  .acne .second-row .product-card {
    float: left;
    margin-right: 5.078vw;
    max-width: 38.281vw;
  }


  .acne .second-row .product-card:last-child {
    margin-right: 0vw;
  }

  .acne .second-row .product-card:nth-child(2n) {
    margin-right: 0vw;
  }

  .treatment {
    margin: 0 auto;
    border-bottom: 0.13vw solid #707070;
    max-width: 81.641vw;
  }

  .treatment .product-list {
    margin: 4.948vw 0 0;
  }

  .treatment .product-list .product-card {
    float: left;
    margin-right: 5.078vw;
    margin-bottom: 5.078vw;
    max-width: 38.281vw;
  }

  .treatment .product-list .product-card:nth-child(3n) {
    margin-right: 5.078vw;
  }

  .treatment .product-list .product-card:nth-child(2n) {
    margin-right: 0;
  }

  .treatment .product-list .product-card:nth-child(n+4) {
    margin-top: 0;
  }

  /*common section */
  .common-sec {
    margin-top: 7.682vw;
    background-color: #35736A;
  }

  .common-sec .left-col {
    float: none;
    width: 100%;
    padding: 0 0 11.068vw;
  }

  .common-sec .left-col .text-blk {
    padding: 12.63vw 0 3.125vw 10.417vw;
  }

  .common-sec .left-col .text-blk h3 {
    line-height: 1.4;
    color: #FFFFFF;
    font-size: 5.208vw;
    font-weight: 700;
  }

  .common-sec .left-col .text-blk p {
    line-height: 1.5;
    margin: 2.865vw 0 8.724vw;
    padding-right: 10%;
    color: #EEF2F4;
    font-size: 2.083vw;
    font-weight: 400;
  }

  .common-sec .left-col .text-blk a {
    padding: 0.781vw 4.557vw;
    border: 0.13vw solid #EEF2F4;
    color: #FFFFFF;
    font-size: 2.083vw;
  }

  .common-sec .right-col {
    float: none;
    width: 100%;
  }

  /*suncream section */
  .sun-cream {
    padding-top: 6.771vw;
  }

  .sun-cream h2 {
    margin-bottom: 2.865vw;
    color: #354E57;
    font-size: 6.25vw;
    font-weight: 700;
    text-align: center;
  }

  .sun-cream span.title {
    display: block;
    margin-bottom: 5.208vw;
    color: #354E57;
    font-size: 2.083vw;
    text-align: center;
  }

  .sun-cream .product-list {
    margin: 0 auto 2.474vw;
    max-width: 69.271vw;
  }

  .sun-cream .product-card {
    float: left;
    width: 32.813vw;
    margin-right: 3.646vw;
    margin-bottom: 5.208vw;
    cursor: pointer;
  }

  .sun-cream .product-card:hover .img-blk {
    border: 0.13vw solid #354E57;
  }

  .sun-cream .product-card:nth-child(2n) {
    margin-right: 0;
  }

  .sun-cream .product-card:nth-child(4n) {
    margin-right: 0;
  }

  .sun-cream .product-card .img-blk {
    border: 0.13vw solid transparent;
  }

  .sun-cream .product-card:hover .img-blk {
    border: 0.13vw solid #707070;
  }

  .sun-cream .product-card .text-blk {
    width: 100%;
    margin-top: 2.865vw;
  }

  .sun-cream .product-card .text-blk p.title {
    margin: 0.651vw 0;
    color: var(--color-black);
    font-size: 1.823vw;
    font-weight: 700;
  }

  .sun-cream .product-card .text-blk p {
    margin-bottom: 1.563vw;
    color: var(--color-black);
    font-size: 1.563vw;
  }

  .sun-cream .product-card .text-blk a {
    color: var(--color-black);
    font-size: 1.823vw;
    font-weight: 700;
    text-decoration: underline;
  }
}

/*sp */
@media screen and (max-width:767.9px) {

  .pc {
    display: none !important;
  }

  .ipad {
    display: none !important;
  }

  .sp {
    display: block !important;
  }

  .pc-sp {
    display: block !important;
  }

  /*main section */


  .main .text-blk {
    position: absolute;
    top: 17%;
    left: 6%;
    line-height: 1.2;
  }

  .main .text-blk h2 {
    margin-bottom: 2.969vw;
    color: var(--color-black);
    font-size: 7.5vw;
    font-weight: 700;
  }

  .main .text-blk p {
    line-height: 1.5;
    color: var(--color-black);
    font-size: 2.5vw;

  }

  /*banner section */
  .banner {
    padding: 6.719vw;
    border: 0.156vw solid #354E57;
    background-color: #FFFFFF;
    color: #354E57;
    text-align: center;
  }

  .banner h3 {
    margin-bottom: 1.875vw;
    font-size: 4.375vw;
    font-weight: 700;
  }

  /*category section */
  .category .links {
    width: 98%;
    margin: 5.938vw auto 4.688vw;
    padding-left: 7.188vw;
    max-width: 100vw;
  }

  .category .links li {
    float: left;
    margin-right: 0.938vw;
    padding: 2.656vw 7.969vw;
    border: 0.156vw solid #354E57;
    text-align: center;
    cursor: pointer;
    border-radius: 4.375vw;
  }

  .category .links li:last-child {
    margin-right: 0;
  }

  .category .links li:hover,
  .category .links li.active {
    border: 0.156vw solid #D1B0A8;
    background-color: #D1B0A8;
  }

  .category .links li:hover a {
    color: #FFFFFF;
  }

  .category .links li a {
    color: #2E2E22;
    font-size: 2.813vw;
  }

  /*category left */
  .category .left-col {
    float: none;
    margin: 0 auto;
    max-width: 76.406vw;
  }

  .category .left-col .first-blk {
    display: inline-block;
    margin-right: 13.594vw;
    padding-top: 3.594vw;
  }

  .category .left-col .second-blk {
    display: inline-block;
  }

  .category .left-col ul {
    margin-bottom: 0;
    padding-left: 1.563vw;
  }

  .category .left-col ul li {
    position: relative;
    margin: 5.156vw 0;
    padding-left: 2.5vw;
    color: #2E2E22;
    font-size: 2.188vw;
  }

  .category .left-col li::before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.781vw;
    height: 0.781vw;
    background-color: #000000;
    content: '';
    border-radius: 50%;
  }

  /*category right */
  .category .right-col {
    float: none;
    width: 98%;
    margin: 0 auto;
    max-width: 87.5vw;
  }

  .category .right-col .acne {
    padding-bottom: 6.094vw;
    border-bottom: 0.156vw solid #707070;
  }

  .category .product-card .img-blk {
    margin-bottom: 1.719vw;
    border: 0.156vw solid #707070;
    background-color: #FFFFFF;
  }

  .category .product-card .text-blk {
    margin-top: 4.063vw;
    color: #2E2E22;
  }

  .category .product-card .text-blk h4 {
    font-size: 2.188vw;
    font-weight: 700;
  }

  .category .product-card .text-blk p {
    margin: 1.094vw 0;
    font-size: 1.875vw;
  }

  .category .product-card .text-blk span {
    font-size: 1.875vw;
    font-weight: 500;
  }

  .acne {
    margin: 0 auto;
    max-width: 97.969vw;
  }

  .acne .first-row {
    margin-bottom: 0vw;
  }

  .acne .first-row .left {
    float: none;
    width: 98%;
    margin: 1.25vw auto 6.25vw;
    margin-right: 0vw;
    max-width: 87.5vw;
  }

  .acne .first-row .left .img-blk {
    border: 0.156vw solid transparent;
  }

  .acne .first-row .right {
    float: none;
    width: 98%;
    max-width: 87.5vw;
  }

  .acne .first-row .right .product-card {
    float: left;
    margin-right: 1.25vw;
    max-width: 42.188vw;
  }

  .acne .first-row .right .product-card:last-child {
    margin-right: 0;
  }

  .acne .second-row .product-card {
    float: left;
    margin-right: 1.25vw;
    max-width: 42.188vw;
  }


  .acne .second-row .product-card:last-child {
    margin-top: 6.094vw;
    margin-right: 0vw;
  }

  .acne .second-row .product-card:nth-child(2n) {
    margin-right: 0vw;
  }

  .treatment {
    margin: 0 auto;
    border-bottom: 0.156vw solid #707070;
    max-width: 97.969vw;
  }

  .treatment .product-list {
    margin: 5.938vw 0 0;
  }

  .treatment .product-list .product-card {
    float: left;
    margin-right: 1.25vw;
    margin-bottom: 6.094vw;
    max-width: 42.188vw;
  }

  .treatment .product-list .product-card:nth-child(3n) {
    margin-right: 1.25vw;
  }

  .treatment .product-list .product-card:nth-child(2n) {
    margin-right: 0;
  }

  .treatment .product-list .product-card:nth-child(n+4) {
    margin-top: 0;
  }

  /*common section */
  .common-sec {
    margin-top: 9.219vw;
    background-color: #35736A;
  }

  .common-sec .left-col {
    float: none;
    width: 100%;
    padding: 0 0 13.281vw;
  }

  .common-sec .left-col .text-blk {
    padding: 17.5vw 0vw 3.75vw 12.5vw;
  }

  .common-sec .left-col .text-blk h3 {
    line-height: 1.4;
    color: #FFFFFF;
    font-size: 6.25vw;
    font-weight: 700;
  }

  .common-sec .left-col .text-blk p {
    line-height: 1.5;
    margin: 3.438vw 0 10.469vw;
    padding-right: 10%;
    color: #EEF2F4;
    font-size: 2.5vw;
    font-weight: 400;
  }

  .common-sec .left-col .text-blk a {
    padding: 0.938vw 5.469vw;
    border: 0.156vw solid #EEF2F4;
    color: #FFFFFF;
    font-size: 2.5vw;
  }

  .common-sec .right-col {
    float: none;
    width: 100%;
  }

  /*suncream section */
  .sun-cream {
    padding-top: 9.688vw;
  }

  .sun-cream h2 {
    margin-bottom: 3.438vw;
    color: #354E57;
    font-size: 7.5vw;
    font-weight: 700;
    text-align: center;
  }

  .sun-cream span.title {
    display: block;
    margin-bottom: 6.25vw;
    color: #354E57;
    font-size: 2.5vw;
    text-align: center;
  }

  .sun-cream .product-list {
    margin: 0 auto 2.969vw;
    max-width: 83.125vw;
  }

  .sun-cream .product-card {
    float: none;
    width: 39.375vw;
    margin: 0 au;
    margin-right: auto;
    margin-bottom: 4.844vw;
    margin-left: auto;
    cursor: pointer;
  }

  .sun-cream .product-card:hover .img-blk {
    border: 0.156vw solid #354E57;
  }

  .sun-cream .product-card:nth-child(2n) {
    margin-right: auto;
  }

  .sun-cream .product-card:nth-child(4n) {
    margin-right: auto;
  }

  .sun-cream .product-card .img-blk {
    border: 0.156vw solid transparent;
  }

  .sun-cream .product-card:hover .img-blk {
    border: 0.156vw solid #707070;
  }

  .sun-cream .product-card .text-blk {
    width: 100%;
    margin-top: 3.438vw;
  }

  .sun-cream .product-card .text-blk p.title {
    margin: 0.781vw 0;
    color: var(--color-black);
    font-size: 2.188vw;
    font-weight: 700;
    text-align: center;
  }

  .sun-cream .product-card .text-blk p {
    margin-bottom: 1.875vw;
    color: var(--color-black);
    font-size: 1.875vw;
  }

  .sun-cream .product-card .text-blk a {
    display: inherit;
    font-size: 2.188vw;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;

  }
}